body {
  background-color: #f0f0f0;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* 移除 overflow: hidden */
}

.help-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 10px;
}